.dz_dev_status { display: inline-block; width: 10px; height: 10px; position: relative; top: 1px; margin-right:10px; }

.dz_dev_status.open { background-color: #aa0000; }

.dz_dev_status.work { background-color: #ffaa00; }

.dz_dev_status.test { background-color: #ffff00; }

.dz_dev_status.feedback { background-color: #0000aa; }

.dz_dev_status.done { background-color: #00aa00; }

.tl_file a.index, .tl_file a.follow, .tl_file a.noindex, .tl_file a.nofollow, .tl_file a.nocache, .tl_file a.cache, .tl_file a.parentcache, .tl_file a.nosearch, .tl_file a.search, .tl_file a.nositemap, .tl_file a.sitemap { padding: 0 2px; text-indent: 0; margin-left: 0; display: inline-block; font-size: 11px; line-height: 14px; }

.tl_file a.index, .tl_file a.follow, .tl_file a.search, .tl_file a.sitemap { background-color: green; color: #ffffff; text-align: center; margin-right: 1px; }

.tl_file a.noindex, .tl_file a.nofollow, .tl_file a.nocache, .tl_file a.nosearch, .tl_file a.nositemap { background-color: #d30a0a; color: #ffffff; text-align: center; margin-right: 1px; }

.tl_file a.cache { background-color: green; color: white; text-align: center; margin-right: 1px; }

.tl_file a.parentcache { background-color: #888888; color: white; text-align: center; margin-right: 1px; }

.tl_file a.index:hover, .tl_file a.index:focus { color: #ffffff; }
